
.MainReview-div{
    width: 100%;
    height: 100vh;

    background-color: #000000;
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: visible;
}
.review-div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 94vh;
    border-radius: 5px;
    border: 3px solid #EDC215;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-family: "Roboto Slab", serif;
    overflow-x: hidden;

}
.review-div::-webkit-scrollbar {
    width: 8px;
  }
  
  .review-div::-webkit-scrollbar-thumb {
    background: #EDC215;
    border-radius: 5px;
  }

.loading-div{
    position: relative;
    align-items: center;
    left:20%;
}
.robotImage-div{
    display: flex;
    align-items: center;
}
.robotImage-div h1{
    position: relative;
    top: 10px;
    align-items: center;
}
.robotImage{
    width: 100px !important;
    height: 100px !important;
    /* background-color: #EDC215; */
}
.robotloading{
    width: 300px !important;
    height: 500px !important;
    /* background-color: #EDC215; */
}
.thankYouContent-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 96.5vh;
    word-wrap: break-word;
}
.iconAndThankYou-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}
.ReInterviewAndThankYouMessage-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26.5vh;
    word-wrap: break-word;
    font-family: "Roboto Slab", serif;
    padding-left: 10px;
}
.Re-InterviewButton{
    background-color: #EDC215;
    color: black;
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 75%;
    font-family: "Roboto Slab", serif;
}
.Re-InterviewButton:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 10px #EDC215;
}
.MainModel-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;

}
.message-div{
    width: 100%;
    height: 30vh;
    border: 3px solid purple;
}
.Content2-div,.Content1-div{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40vh;
    border: 3px solid rgb(128, 0, 0);
    font-family: "Roboto Slab", serif;
}
@media (max-width: 768px) {
    .MainReview-div{
        flex-direction: column;
    }
    .review-div{
        max-width: 100%;
    }
    .thankYouContent-div{
        width: 100%;
    }
}

@media (max-width: 480px) {
    
}
