.main-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.MainReview-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.review-div{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    max-width: 40%;
    height: 94vh;
    border-radius: 5px;
    border: 3px solid #EDC215;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-family: "Roboto Slab", serif;
    overflow-x: hidden;
    scrollbar-color: #EDC215 #f1f1f1; /* thumb color, track color */
    scrollbar-width: thin; /* "auto" or "thin" */

}
.review-div::-webkit-scrollbar-thumb {
    background: #EDC215; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

.review-div::-webkit-scrollbar-thumb:hover {
    background: #d4a613; /* Darker shade for hover effect */
}

.review-div::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 6px; /* Rounded corners for the track */
}

.loading-div{
    position: relative;
    left: 70px;
    top: 100px;
}
.robotImage-div{
    display: flex;
    flex-direction: row;
}
.robotImage-div h1{
    position: relative;
    top: 10px;
}
.robotImage{
    width: 100px !important;
    height: 100px !important;
    /* background-color: #EDC215; */
}
.robotloading{
    width: 300px !important;
    height: 500px !important;
    /* background-color: #EDC215; */
}
.innerContent1-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}
.thankYouContent-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 96.5vh;
    word-wrap: break-word;
}
.iconAndThankYou-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
.ReInterviewAndThankYouMessage-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26.5vh;
    word-wrap: break-word;
    font-family: "Roboto Slab", serif;
}
.Re-InterviewButton{
    background-color: #EDC215;
    color: black;
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 75%;
    font-family: "Roboto Slab", serif;
}
.Re-InterviewButton:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 10px #EDC215;
}
.Content2-div,.Content1-div{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 70vh;
    border: 3px solid rgb(128, 0, 0);
    font-family: "Roboto Slab", serif;
}
@media (max-width: 768px) {
    .MainReview-div{
        flex-direction: column;
    }
    .review-div{
        max-width: 100%;
    }
    .thankYouContent-div{
        width: 100%;
    }
}

@media (max-width: 480px) {
    
}
