.main-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.MainReview-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.review-div{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    max-width: 40%;
    height: 94vh;
    border-radius: 10px;
    border: 3px solid #EDC215;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
}
.loading-div{
    position: relative;
    left: 50px;
    top: 10px;
}
.robotImage-div{
    display: flex;
    flex-direction: row;
}
.robotImage-div h1{
    position: relative;
    top: 10px;
}
.robotImage{
    width: 100px;
    height: 100px;
}
.robotloading{
    width: 300px;
    height: 300px;
}
.innerContent1-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}
.thankYouContent-div{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 96.5vh;
    border: 3px solid green;
    word-wrap: break-word;
}
.iconAndThankYou-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    border: 3px solid green;
}
.ReInterviewAndThankYouMessage-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 46.5vh;
    border: 3px solid rgb(249, 0, 112);
}
.thankYouMessage-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26vh;
    border: 3px solid black;
}
.Content2-div,.Content1-div{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50vh;
    border: 3px solid rgb(128, 0, 0);
}
.ReInterview-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18.6vh;
    background-color: #EDC215;
}